header {
    text-align: center;
    background: url('http://dash.ga.co/assets/jeff-bg.png');
    background-size: cover;
    color: white;
    
    body {
    background-color: red;
    }

    h2 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
    }
